<div class="container-fluid">
  <section id="games-list">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <%= image_tag 'chess.jpg', class: 'img-responsive feature-pic' %>
      </div>
      <div class="col-sm-5">
        <h2 class="join-headline text-center">Your opponent awaits you! Join the battle!</h2>
          <h4>Available game<a class="btn btn-success pull-right" href="#" role="button">Join game!</a></h4>
          <br class="clr" />
          <h4>Available game<a class="btn btn-success pull-right" href="#" role="button">Join game!</a></h4>
          <br class="clr" />
          <h4>Available game<a class="btn btn-success pull-right" href="#" role="button">Join game!</a></h4>
          <br class="clr" />
          <h4>Available game<a class="btn btn-success pull-right" href="#" role="button">Join game!</a></h4>
          <br class="clr" />
          <h4>Available game<a class="btn btn-success pull-right" href="#" role="button">Join game!</a></h4>
      </div>
    </div>
  </section>          
  <section id="profile">
    <div class-"row">
      <br />
      <div class="col-sm-offset-2 col-sm-1">
        <a class="btn btn-info dash-button" href="<%= player_path(current_user) %>" role="button">User Dashboard</a>
      </div>
      <div class="col-sm-offset-2 col-sm-2">
        <a class="center-block btn btn-success btn-lg dash-button" href="#" role="button">Create a Game</a>
      </div>
      <div class="col-sm-offset-2 col-sm-1">
        <a class="btn btn-info" href="#" role="button">Account Settings</a>
      </div>
    </div>
    <br class="clr" />
    <div class="row">
      <div class="stats col-sm-offset-2 col-sm-2">
        <h2 class="text-center"><%= current_user.email %></h2>
        <%= image_tag 'yoda.jpg', class: 'img-responsive' %>
      </div>
      <div class="stats col-sm-offset-1 col-sm-5">
        <h2 class="text-center">Quick Stats</h2>
        <div class="boxed">
          <h4 class="top">Games Played: <%= current_user.games.count %></h4>
          <h4>Wins:</h4>
          <h4>Losses:</h4>
          <h4>Draws:</h4>
        </div>
      </div>
    </div>
  </section>
</div>