<!DOCTYPE html>
<html>
  <head>
    <title>StoicChess</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="site">
    <main class="site-content">
      <%= render "layouts/navbar" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </main>
  </body>
</html>
